<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Django{% endblock title %}</title>
</head>
<body>
    <header>
        {% block header %}
            <p>Login</p>
        {% endblock %}
    </header>
    <div>
        <table width="100%">
            <tr>
                <td colspan="75%"><a href="{% url 'productapp:product_list' %}"> HOME </a></td>
            </tr>
        </table>
    </div>
    <div>
        {% block content %}

        {% endblock content %}
    </div>
</body>
</html>